
<!DOCTYPE html>
<html>
<head>
	<title>Appointment </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<style type="text/css">
		.container{
      margin-top: 30px;
    }
	</style>
	</head>
<body>
 {% include "nav.html" %}




 
<div class="container">
<div class="row">
	<div class="col-sm-12">
    <h3 style="text-align: center; font-weight: 700; " >Your Appointments !</h3><br>
	
		<table class="table">
  <thead>

    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      
      {% if user == 'P' %}
      <th scope="col">Docter</th>
      {% else %}
      <th scope="col">Patient</th>
      {% endif %}
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
  	  	{% for data in data %}
    <tr>
      <th scope="row">{{ data.date }}</th>
      <td> {{ data.time }}</td>
      {% if user == 'P' %}
      <td> {{ data.docterid.name }} </td>
      {% else %}
      <td> {{ data.patientid.name }} </td>
      {% endif %} 

      <!-- <td> {{ data.patientid.name }}</td> -->
      {% if data.is_cancelled %}
       
      {% if data.is_pop %}
      <td style="color: red;">Cancelled</td>
      {% else %}
      <td>Cancelled</td>
      {% endif %}
      {% else %}
      {% if data.status %}
      <td>Completed</td>
      {% if user == 'D' %}
      <td ><a class="btn btn-success"  href="{% url 'appoint' id=data.id %}">Add Prescition</a></td>
      {% endif %}
      {% else %}
      
      <td>Pending</td>
      {% if user == 'D' %}
      <td> <a   class="btn btn-danger" href="{% url 'update_status' id=data.id %}">Done</td>
        {% if user == 'D' %}
        {% if data.share_permission %}
        
        <td  ><a class="btn btn-warning"  href="{% url 'patient_history' id=data.patientid.id %}">History</a></td>
        {% endif %}
        <td  ><a class="btn btn-warning"  href="{% url 'cancel_appoint_doct' id=data.id %}">Cancel</a></td>
          <td><a class="btn btn-primary" href="{% url 'chat' user=user id=data.patientid.username.id %}">Chat</a></td>
      {% endif %}
      {% else %}
      <td  ><a class="btn btn-warning"  href="{% url 'cancel_appoint_pat' id=data.id %}">Cancel</a></td>
      <td><a class="btn btn-primary" href="{% url 'chat' user=user id=data.docterid.username.id %}">Chat</a></td>
      {% endif %}
      {% endif %}
      {% endif %}
      <td ><a class="btn btn-success"  href="{% url 'appointment_details' user=user id=data.id %}">Details</a></td>
    </tr>
    {% endfor %}
   
  </tbody>
</table>

  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>