
<!DOCTYPE html>
<html>
<head>
	<title>Medicine Orders </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<style type="text/css">
		.container{
      margin-top: 30px;
    }
	</style>
	</head>
<body>
 {% include "nav.html" %}




 
<div class="container">
<div class="row">
	<div class="col-sm-12">
    <h3 style="text-align: center; font-weight: 700; " >Medicine Orders!</h3><br>
	
		<table class="table">
  <thead>

    <tr>
        <th scope="col">Date</th>
        <th scope="col">Medicine Name</th>
        <th scope="col">Quantity</th>
      <th scope="col">Patient name</th>
      <th scope="col">Patient Phone</th>
      
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
  	  	{% for data in data %}
    <tr>
        <th scope="row">{{ data.datetime }}</th>
      <th scope="row">{{ data.medicine.medicine }}</th>
      <th scope="row">{{ data.quantity }}</th>
      <td scope="row"> {{ data.appointment.patientid.name }}</td>
      <td scope="row"> {{ data.appointment.patientid.phone }}</td>
      <td scope="row"> {{ data.price }}</td>
      <td scope="row"> {{ data.resultdatetime }}</td>
      

      <!-- <td> {{ data.patientid.name }}</td> -->
      {% if data.status == 1 %}
      <td scope="row">Pending</td>
      <td  ><a class="btn btn-warning"  href="{% url 'cancel_appoint_doct' id=data.id %}">Cancel</a></td>
      <td  ><a class="btn btn-warning"  href="{% url 'addresult' id=data.id %}">Mark Done</a></td>
      {% elif data.status == 2 %}
      <td scope="row">Cancelled</td>
      {% else %}
      <td scope="row">Done</td>
      {% endif %}
      

        

    </tr>
    {% endfor %}
   
  </tbody>
</table>

  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>