<!DOCTYPE html>
<html>
<head>
	<title>Patient Profile</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<style type="text/css">
		

		input,select{
			width: 300px!important;
			border-radius: 0px!important;
		}
		form{
			margin: 20px auto;
			width: 300px;
			height: 450px;
			text-align: center;
		}
		select{
			height:30px;
		}
		button{
			width: 140px;
			border-radius: 0px!important;
		}
	</style>
</head>
<body>


  {% include "nav.html" %}
 
 <form action="{% url 'profile' user=user %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<p align="left">Name</p>
 	<input type="text" name="name" placeholder="Full Name" required="" class="form-control" value="{{ userdata.name }}"><br>
 	<p align="left">Email</p>
 	<input type="email" name="email" placeholder="Email" required="" class="form-control" value="{{ userdata.email }}"><br>
 	<p align="left">Mobile Number</p><input type="tel" name="phone" placeholder="Phone Number" required="" class="form-control" value="{{ userdata.phone }}"><br>
 	<p align="left">Age</p><input type="number" name="age" placeholder="Age" required="" class="form-control" value="{{ userdata.age }}"><br>
 	  <div class="form-group">
  	<p align="left">Gender</p>
 <select name="gender" value="{{ userdata.gender }}">
	         <!-- <option default="">Select Gender</option> -->
	         <option  name="Male" default="">Male </option>
	         <option  name="Female">Female</option>
	         <option  name="Transgender">Transgender</option>

	         </select><br>
  </div>
 	  <div class="form-group">
  	<p align="left">Blood Group</p>
 <select name="blood" >
	         <!-- <option default="">Select Gender</option> -->
	 

	         <option  name="{{ userdata.blood }}" >{{ userdata.blood }}</option>
	        <option  name="A+" value="">A+ </option>
	         <option  name="B+">B+</option>
	         <option  name="AB+">AB+</option>
	         <option  name="O+">O+</option>
	         <option  name="A-">A-</option>
	         <option  name="B-">B- </option>

	         <option  name="AB-">AB-</option>
	         <option  name="O-">O-</option>


	         </select><br><br>
	<textarea class="form-control" name="address" value="{{ userdata.address }}" placeholder="Address">{{ userdata.address }}</textarea><br>

  <p align="left">Health Insurance Number</p><input type="number" name="health_insurance_no" placeholder="Health Insurance Number" required="" class="form-control" value="{{ userdata.health_insurance_no }}"><br>
  <p align="left">disability</p><input type="text" name="disability" placeholder="disability" required="" class="form-control" value="{{ userdata.disability }}"><br>
  <p align="left">Date of Birth : {{userdata.DOB}}</p><input type="date" name="DOB" placeholder="Date of Birth" required="" class="form-control"><br>


  <button type="submit" class="btn btn-primary">Update</button>
</form>




<div class="container rounded bg-white mt-5">
	<div class="row">
		<div class="col-md-4 border-right">
			<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="https://i.imgur.com/0eg0aG0.jpg" width="90"><span class="font-weight-bold">John Doe</span><span class="text-black-50">john_doe12@bbb.com</span><span>United States</span></div>
		</div>
		<div class="col-md-8">
			<div class="p-3 py-5">
				<div class="d-flex justify-content-between align-items-center mb-3">
					<div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
						<h6>Back to home</h6>
					</div>
					<h6 class="text-right">Edit Profile</h6>
				</div>
				<div class="row mt-2">
					<div class="col-md-6"><input type="text" class="form-control" placeholder="first name" value="John"></div>
					<div class="col-md-6"><input type="text" class="form-control" value="Doe" placeholder="Doe"></div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6"><input type="text" class="form-control" placeholder="Email" value="john_doe12@bbb.com"></div>
					<div class="col-md-6"><input type="text" class="form-control" value="+19685969668" placeholder="Phone number"></div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6"><input type="text" class="form-control" placeholder="address" value="D-113, right avenue block, CA,USA"></div>
					<div class="col-md-6"><input type="text" class="form-control" value="USA" placeholder="Country"></div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6"><input type="text" class="form-control" placeholder="Bank Name" value="Bank of America"></div>
					<div class="col-md-6"><input type="text" class="form-control" value="043958409584095" placeholder="Account Number"></div>
				</div>
				<div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
			</div>
		</div>
	</div>
</div>


<!--JS Library -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>